body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'Ubuntu', sans-serif;
}

header, main, footer {
    width: 100%;
}

img {
   max-width: 150px;
   border-radius: 30%;
}

.logo {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    
}

.logo a {
    text-decoration: none;
    color: rgba(7, 255, 243, 0.788);
}

.logo a:hover {
    color: #01201E;
}

header {
    background-color: azure;
}

.header-nav {
    width: 100%;
    min-height: 50px;
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

.header-nav nav {
    margin-right: 3rem;
}

.header-img {
    text-align: center;
    background-image: url(./assets/matrix.jpg);
    background-size: cover;
    min-height: 20rem;
}

.header-nav ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.nav-button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    font-weight: 700;
    color: #1E2020;
    font-size: 1.2rem;
    transition: 0.4s;
}

.nav-button:hover {
    background-color: azure;
}

.about, .call-me {
    margin: 2rem auto;
    width: 80%;
    font-size: 2rem;
    text-align: justify;
}

.call-me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.call-me div {
    text-align: center;
}

@media screen and (min-width: 769px) {
    .call-me div {
        width: 40%;
    }
}

.call-to-action {
    text-decoration: none;
    display: inline-block;
    padding: 2rem 4rem;
    font-weight: 700;
    color: #1E2020;
    font-size: 3rem;
    background-color: rosybrown;
    transition: 0.4s;
}

.call-to-action:hover {
    background-color: rgba(7, 255, 243, 0.788);
}

footer {
    background-color: bisque;
    min-height: 10rem;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}